/* this is todo styling */
*{
    box-sizing: border-box;
    font-size: 18px
  }
  
  
  .main{
    width: 100vw;
    height: 100vh;
    background-color: hsl(235, 21%, 11%);
    font-family: 'Josefin Sans', sans-serif;
  }
  .bg-dark{
    background-color: hsl(235, 21%, 11%);
  }
  .bg-light{
    background-color: white;
  }
  .hide-image{
    display: none;
  }
  .todo-bg-image{
    background-image: url('../../public/images/bg-desktop-dark.jpg');
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
  }
  
  .todo-elements-conatiner{
    width: 60%;
   
  }
  
  .todo-title-theme-icon-container{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    margin: 8vh 0 4vh 0;
  }
  
  .todo-main-title{
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 0.4em;
  }
  .theme-changer-image{
    width: 1.5em;
    height: 1.5em;
  }
  .todo-input-section-container{
    display: flex;
  }
  
  .todo-input-button-container{
    height: 8vh;
    width: 8%;
    background-color: hsl(235, 24%, 19%);
    display: flex;
    justify-content: center;
  }
  .todo-input-button{
    border: 2px solid rgba(100, 86, 117, 0.5);
    background-color: hsl(235, 24%, 19%);
    align-self: center;
    width: 1.8vw;
    height: 3.5vh;
    border-radius: 0.8em;
  
  }
  
  .todo-input-element{
    background-color: hsl(235, 24%, 19%);
    border: 0px;
    width: 92%;
    height: 8vh;
    outline: none;
    color: hsl(234, 39%, 85%);
  
  }
  .todo-input-element::placeholder {
    font-size: 0.9em;
    color: hsl(234, 11%, 52%);
  }
  
  .todo-list-container{
    font-size: 1.2em;
    overflow: scroll;
    background-color: hsl(235, 24%, 19%);
    margin-top: 3vh;
    margin-bottom: 0;

    height: 49vh;
  
    overflow-x: hidden; 
    padding: 0;
  }
  .each-todo-container{
    display: flex;
    align-items: center;
    color: hsl(234, 39%, 85%);
  
    background-color: hsl(235, 24%, 19%);
    border-bottom: 1px solid rgba(75, 60, 95, 0.5);
    height: 8.2vh;
  }
  .todo-completed-text-style{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    color: hsl(234, 11%, 52%);
    font-style: italic;
  }
  .each-todo-checkbox{
    margin: 0 1.5vw;
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid rgba(100, 86, 117, 0.5);
    background-color: hsl(235, 24%, 19%);
    
    width: 1.8vw;
    height: 3.5vh;
    border-radius: 2em;
  }
  .todo-when-clicked{
    background-image:  url('../../public/images/icon-check.svg'),linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-size: 1vw, 4vw;
    background-position: center;
    background-repeat: no-repeat,no-repeat;
  
  }
  
  .drag-drop-text{
    text-align: center;
    color: hsl(234, 11%, 52%);
    margin-top: 1em;
  }
  
  .todo-function-keys{
    border-top: 1px solid rgba(75, 60, 95, 0.5);
    background-color: hsl(235, 24%, 19%);
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    font-size: 1em;
    font-weight: 600;
  }
  .todo-active-counter{
    margin-left: 2em;
    pointer-events: none;
  }
  .todo-active-counter, .todo-main-center-keys, .todo-clear-completed-key{
    text-decoration: none;
    color:  hsl(234, 11%, 52%);
    margin: 0 1em;

  }
  .todo-active-counter:hover, .todo-main-center-keys:hover, .todo-clear-completed-key:hover{
    cursor: pointer;
  }
  
  .todo-clear-completed-key{
    margin-right: 2em;
  
  }
  
  
  
  /* width */
  ::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: hsl(236, 9%, 61%); 
  }

  .lightTheme{
    background-color: white;
    color: hsl(234, 11%, 40%);
  }
